@charset "UTF-8";
/* CSS Document */
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
	height: 100%;
	margin: 0;
	background: #DCD7D2;
}
p {
	line-height: 1.8;
}
.text-center-top {
	color: #fff;
  	font-family: Montserrat, sans-serif;
	padding: 170px 20px 20px 20px;
	/*margin-top: 15%;*/
  }

h2 {
    font-size: 44px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.container-fluid {
    padding: 30px 50px;
}
/* Add a color to bigger icons and set font-size */
.logo {
	color: #6D7993;
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
} 
/* Add a color to all icons and set the font-size */
.logo-small {
    color: #6D7993;
    font-size: 50px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #6D7993;
}

.carousel-indicators li {
    border-color: #555;
}

.carousel-indicators li.active {
    background-color: #6D7993;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.navbar {
    margin-bottom: 0;
    background-color: #6D7993;
	border-color: #6D7993;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
	font-family: Montserrat, sans-serif;
}

/* Responsive mais ne se place pas bien
.logo-lena {
  margin: inherit;
  text-align: left;
  width: 20%;
	position: static;
} @media(max-width: 768px) {
    .logo-lena {
      width: 20%;
    }
  } @media(max-width: 638px) {
      .logo-lena {
        width: 20%;
      }
    } */
/* N'est pas responsive
.logo-lena {
	position: fixed;
	margin-top: -47px !important;
	margin-left: -100px;
	width: 7% !important;
}*/

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
	font-family: Montserrat, sans-serif;
}

/*.navbar-brand {
	position: static;
}*/

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #22252C ! important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
	background-color: transparent !important;
}

/* Dropdown */
.open .dropdown-toggle {
	border-color: transparent;
    color: #fff !important;
	background-color: transparent !important;
}

.open .dropdown-menu {
	background-color: #6D7993 !important ;
	border-color: #6D7993 !important;
	box-shadow: none;
	text-align: right;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #fff !important;
}

.dropdown-menu li a:hover, .dropdown-menu li.active a {
	background-color: transparent;
	color: #22252C ! important;
}

.glyphicon-chevron-up {
	color: #6D7993 !important;
}

.social-media {
	text-align: right;
}
.fa {
	padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
	background: #DCD7D2;
	color: black;
}
.fa:hover {
    color: white ;
    background : black;
}
.see-more {
	background-color: #474E5C;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	display: inline-block;
}
.see-more:visited {
	background-color: #474E5C;
	color: #fff;
	text-decoration: none !important;
}
.see-more:hover {
	background-color: #2E323C;
	color: #fff;
	text-decoration: none !important;
}
.see-more:active {
	text-decoration: none !important;
}

#tips h4:hover {
	font-weight: bold;
}
#tips a:link {
	text-decoration: none;
}
#tips a:hover {
	text-decoration: none;
}
.tops a:link {
	text-decoration: none;
	color: #818181;
}
.tops a:hover {
	text-decoration: underline;
}
.tops a:visited{
	text-decoration: none;
	color: #818181;
} 

.trips:hover {
	opacity: 0.4;
}
.contact {
	background: #fff;
	width: 83.5%;
}

footer {
	color: #000;
}

.container-block {
	position: relative;
}
.left-block {
	display: inline-block;
	float: left;
	background: #fff;
	margin-top: 30px;
	margin-left: 5.2%;
	max-width: 60%;
	max-height: 400px;
}
@media screen and (max-width : 1199px) {
	.left-block {
		margin-left: 2%;
		max-width: 60%;
		min-height: 400px!important;
	}
}
@media screen and (max-width : 991px) {
	.left-block {
		margin-left: 2%;
		max-width: 60%;
		min-height: 400px!important;
	}
}
@media screen and (max-width:599px) {
	.left-block {
		margin-left: 1%;
		max-width: 60%;
		min-height: 400px;
	}
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.left-block {
		min-height: 400px;
		display:inline-block;
		float: inherit;
		margin-top: 30px;
		margin-left: 5.2%;
		min-width: 90%;
}
	}

h3 {
	font-size: 20px;
	vertical-align: middle;
	text-align: justify;
	margin: 45px;
}
@media screen and (max-width : 1199px) {
	h3 {
		font-size: 20px !important;
		vertical-align: middle;
		text-align: justify;
		margin: 1px !important;
	}
}
@media screen and (max-width : 991px) {
	h3 {
		font-size: 17.7px !important;
		vertical-align: middle;
		text-align: justify;
		margin: 1px !important;
	}
}
@media screen and (max-width : 767px) {
	h3 {
		font-size: 15px !important;
		vertical-align: middle;
		text-align: justify;
		margin: 1px !important;
	}
}
@media screen and (max-width:599px) {
	h3 {
		font-size: 12px !important;
		vertical-align: middle;
		text-align: justify;
		margin: 1px !important;
	}
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	h3 {
		font-size: 5px !important;
		vertical-align: middle;
		text-align: justify;
		margin: 0px !important;
	}
}

.right-upper-block {
	display: inline-block;
	float: right;
	background-image: url("Photos/Our Process.png");
	background-size:cover;
	opacity: 0.5;
	margin-top: 31px;
	margin-right: 5.2%;
	width: 27%;
	height: 180px;
}
.right-upper-block:hover {
	opacity: 1;
}
@media screen and (max-width : 1199px) {
	.right-upper-block {
		margin-right: 2%;
		max-width: 27%;
		height: 180px;
	}
}
@media screen and (max-width : 991px) {
	.right-upper-block {
		margin-right: 2%;
		max-width: 30%;
		height: 180px;
	}
}
@media screen and (max-width:599px) {
	.right-upper-block {
		margin-left: 0%;
		max-width: 40%;
		max-height: 200px;
	}
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.right-upper-block {
		margin-right: 0%;
		max-width: 40%;
		height: 200px;
	}
}

.right-downer-block {
	display: inline-block;
	float: right;
	background-image: url("Photos/Our Process.png");
	background-size: cover;
	opacity: 0.5;
	margin-top: 38px;
	margin-right: 5.2%;
	width: 27%;
	height: 180px;
}
.right-downer-block:hover {
	opacity: 1;
}
@media screen and (max-width : 1199px) {
	.right-downer-block {
		margin-right: 2%;
		max-width: 27%;
		max-height: 180px;
	}
}
@media screen and (max-width : 991px) {
	.right-downer-block {
		margin-right: 2%;
		max-width: 30%;
		max-height: 180px;
	}
}
@media screen and (max-width:599px) {
	.right-downer-block {
		margin-left: 0%;
		max-width: 40%;
		max-height: 200px;
	}
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.right-downer-block {
		margin-right: 0%;
		max-width: 40%;
		height: 200px;
	}
}
.block-buttons {
	line-height: 90px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	background-color: #fff;
	background-size: cover;
	border: 0px;
}
.block-buttons a:link {
	opacity: 1 !important;
	color: #000;
	text-decoration: none;
}
.block-buttons a:active {
	color: #000;
	text-decoration: none;
}
.block-buttons a:visited {
	color: #000;
	text-decoration: none;
}
@media screen and (max-width : 1199px) {
	.block-buttons {
		line-height: 70px;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		bvertical-align: middle;
		border-spacing: 1px;
	}
}
@media screen and (max-width : 991px) {
	.block-buttons {
		line-height: 40px;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		vertical-align: middle;
		border-spacing: 1px;
	}
}
@media screen and (max-width : 767px) {
	.block-buttons {
		line-height: 30px;
		text-align: center;
		font-size: 10px !important;
		font-weight: 500;
		vertical-align: middle;
		margin-right: 3px;
	}
}
@media screen and (max-width:599px) {
	.block-buttons {
		line-height: 20px;
		text-align: center;
		font-size: 5px;
		font-weight: 500;
		vertical-align: middle;
		border: 0px;
	}
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.block-buttons {
		fline-height: 10px;
		text-align: center;
		font-size: 10px;
		font-weight: 100;
	}
}

.language-flag {
	margin-top: -5px;
	margin-left: -45px;
}

